.icon-issue { background-image: url(../../../images/ticket.png); }
.icon-issue-complete { background-image: url(../../../images/ticket_checked.png); }
#reports-list ul { list-style: none;}
#reports-list ul { padding: 2px 0; }

/* Completion Count */
tr.total-closed {font-weight: bold;}

/* Activity Report */
#content {overflow-x:scroll;}
#activity { margin: 10px 0;}
#activity table td {min-width: 200px; }
#activity table td.user-column {min-width: 100px; text-align: center; }
#activity table td.user-column gravatar {display: block; }

div#activity table td div.details { background-repeat: no-repeat; padding-left: 20px; background-position: 0 0%; margin: 10px 0; border-top: 1px dotted #000000;}
div#activity gravatar {float:left;}
div#activity .time { color: #777; font-size: 80%; }
div#activity .description { padding-top: 15px; }

div#activity div.issue { background-image: url(../../../images/ticket.png); }
div#activity div.issue-edit { background-image: url(../../../images/ticket_edit.png); }
div#activity div.issue-closed { background-image: url(../../../images/ticket_checked.png); }
div#activity div.issue-note { background-image: url(../../../images/ticket_note.png); }
div#activity div.changeset { background-image: url(../../../images/changeset.png); }
div#activity div.news { background-image: url(../../../images/news.png); }
div#activity div.message { background-image: url(../../../images/message.png); }
div#activity div.reply { background-image: url(../../../images/comments.png); }
div#activity div.wiki-page { background-image: url(../../../images/wiki_edit.png); }
div#activity div.attachment { background-image: url(../../../images/attachment.png); }
div#activity div.document { background-image: url(../../../images/document.png); }
div#activity div.project { background-image: url(../../../images/projects.png); }

/* Clear out the Issue Details css */
div.issue {background: none; border: none; margin-bottom: 0; padding: 0px}